@model Lab3.Models.Doctor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DoctorId }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add Patient", "AddPatient", new { id = Model.DoctorId })
</p>
<div>
    <ul>
        @foreach(var patient in Model.Patients)
            {
                <li>
                    <a href="/Patients/Details/@patient.PatientId">@patient.Name</a>
                </li>
            }
    </ul>
</div>