@model Lab2.Models.Event
@{
    ViewBag.Title = "EditEvent";
}

<h2>Edit Event - @Model.Name</h2>

@using (Html.BeginForm("EditEvent", "Event"))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", disabled = "disabled" })
    </div>
    <button type="submit" class="btn btn-default">Edit</button>
    <button class="btn btn-default" href="~/Event/ShowAllEvents">Back</button>
}